PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://GlowPad2026123:GlowPadSecure2026@cluster0.zcnojup.mongodb.net/ainotes?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=ainotes